.wrapper {
    min-height: 90vh;
}

.myCard {
    position: relative;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.subtitle {
    color: white;
}
.infoText {
    min-width: 60%;
    margin: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-word;
}

.title {
    text-align: center;
    color: #987750;
}

.desc {
    width: 90%;
}

.desc::before {
    content: " ○ ";
    color: #987750;
}
.sugg::before, .sugg::after {
    content: " ○ ";
    color: #987750;
}


@media (max-width: 748px) {
    .myCard {
        width: 95%;
    }


    .infoText {
        max-width: 90%;
        margin: 5%;
    }

}