.wrapper {
    background-color: #f3adad;
    height: 80vh;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.aboutCard {
    box-sizing: border-box;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    padding: 20px;
}

.text {
    width: 30%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.photo img {
    max-width: 30vw;
}