.wrapper {
    background-color: #d8cece;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    padding: 1% 0;
}

.myCard {
    margin-top: 60px;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
}

.infoText {
    min-width: 30%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.imgContainer {
    max-width: 50%;
    padding: 1%;
}

.imgContainer img {
    max-width: 100%;
}

@media (max-width: 748px) {
    .myCard {
        width: 100%;
    }
    .imgContainer {
        max-width: 90%;
    }

    .infoText {
        max-width: 90%;
    }

}