.wrapper {
    background-color: #baf3ad;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.skillsCard {
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    padding: 20px;
}

.skillsCardName {
    height: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px dashed;
    margin-bottom: 20px;
}

.skillsCardName span {
    display: inline-block;
    align-self: center;
    font-weight: 700;
    font-size: 30px;
}

.skillsField {
    width: 100%;
    display: flex;
    justify-content: space-between;
}