.border1 {
    border: 2px solid  rgba(255,255,255,.2);
    border-radius: 5px;
    background: transparent;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 0;
}

.border2 {
    border: 2px solid  rgba(255,255,255,.2);
    border-radius: 5px;
    background: transparent;
    position: absolute;
    left: 20px;
    top:0;
    bottom: 0;
    right: 20px;
    z-index: 00;
}

.container:hover .border1, .container:hover .border2 {
    -webkit-animation: pulsing 3s infinite;
    animation: transfusion 3s infinite;
}

@-webkit-keyframes transfusion {
    0% {
        border-color: #987750;
    }
    50% {
        border-color:  rgba(255,255,255,.2);
    }
    100% {
        border-color: #987750;
    }
}

@keyframes transfusion {
    0% {
        border-color: #987750;
    }
    50% {
        border-color:  rgba(255,255,255,.2);
    }
    100% {
        border-color: #987750;
    }
}