.skillCard {
    height: 200px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    border: 1px solid;
    margin: 2% 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    align-self: center;
    display: block;
    height: 60px;
    padding: 3vh 0;
}

.skillTitle {
    color: #987750;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.skillDescription {
    align-self: center;
    width: 90%;
    text-align: center;
    border: 1px solid blue;
    word-break: break-word;
    margin: 2vh;
    color: #888888;
}

@media (max-width: 748px){
    .skillCard {
        width: 100%;
    }
}
