.wrapper {
    min-height: 10vh;
}

.social {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    padding: 3%;
    z-index: 1;
}


.copyRights {
    margin: 1%;
}

.item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item img {
    display: block;
    width: 100%;
}

.item:hover {
    transform: rotate(10deg);
    scale: 1.5;
    transition: 0.5s;
    color: gold
}


@media (max-width: 480px) {
    .container {
        width: 100%;
    }

    .social {
        width: 98%;
    }
}