.wrapper {
    background-color: #4da5b7;
    min-height: 10vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    padding: 1% 0;
}

.container {
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    padding: 1%;
}

.title {
    height: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px dashed;
    margin-bottom: 1%;
}

.title span {
    display: inline-block;
    align-self: center;
    font-weight: 700;
    font-size: 30px;
}

.social {
    border: 1px solid;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    padding: 1%;
}


.copyRights {
    margin: 1%;
}

.item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item img {
    display: block;
    width: 100%;
}

@media (max-width: 480px) {
    .container {
        width: 100%;
    }

    .social {
        width: 98%;
    }
}