.App {
    font-family: Jost, sans-serif;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 0;
    font-weight: 400;
    color: #888;
    background-color: #050505;
    word-break: break-word;
}

.divider {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 748px) {
    .divider {
        flex-direction: column;
        align-items: center;
    }
}

.MuiToolbar-root {
    padding-left: 0!important;
    padding-right: 0!important;
    min-height: 60px!important;
}