.wrapper {
    background-color: #ad93fb;
}

.projectsCard {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
}

.projectsCardName {
    height: 80px;
    border: 1px dashed grey;
    display: flex;
    justify-content: center;
    width: 100%;
}
.projectsCardName span {
    display: inline-block;
    align-self: center;
    font-weight: 700;
    font-size: 30px;
}

.projectsField {
    width: 100%;
    display: flex;
    justify-content: space-between;
}