.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.item textarea, input {
    display: inline-block;
    width: 90%;
}

.item {
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sendBtn {
    padding: 20px;
    z-index: 10;
}

.btn {
    border: 1px solid #987750;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    display: block;
    width: 100px;
    height: 40px;
    background-color: #1d1b19;
    box-shadow: inset 0 0 0 0 #987750;
    color: #987750;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.btn:hover {
    transition: color 2s ease-out 100ms
}

.btn:hover {
    box-shadow: inset 100px 0 0 0 #987750;
    color: white;
}

@media (max-width: 480px) {
    .container {
        width: 100%;
    }
    .form {
        width: 98%;
    }
    .item {
        width: 100%;
    }
}