.navbar {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}

.linkItem a {
    color: white;
    text-decoration: none;
}

.linkItem a:hover {
    transition: color 2s ease-out 100ms
}

.linkItem a {
    box-shadow: inset 0 0 0 0 #987750;
    color: #987750;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.linkItem a:hover {
    box-shadow: inset 100px 0 0 0 #987750;
    color: white;
}

@media (max-width: 748px) {
    .navbar {
        margin: 0;
        max-width: 90%;
    }
}

