.navbar {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}

@media (max-width: 748px) {
    .navbar {
        margin: 0;
        max-width: 90%;
    }
}

@media (max-width: 400px) {
    .navbar {
        width: 300px
    }

    .linkItem a {
        font-size: 18px;
    }
}
